<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyue.admin.dal.dao.ModelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuyue.admin.dal.po.ModelPO">
        <result column="model_id" property="modelId" />
        <result column="model_name" property="modelName" />
        <result column="estimated_time" property="est" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        model_name, model_id,estimated_time,create_time
    </sql>
</mapper>
